* binary
*.rocket text eol=lf diff
README.md text eol=lf diff
ROADMAP.md text eol=lf diff
.gitattributes text eol=lf diff
.gitignore text eol=lf diff
SHA256SUMS.txt text eol=lf diff
platforms/windows-x64/bin/clang.exe filter=lfs diff=lfs merge=lfs -text
platforms/*.tar.xz filter=lfs diff=lfs merge=lfs -text
